@import "tailwindcss";
@import "tw-animate-css";

/* Root theme values (single theme only) */
:root {
  --radius: 0.625rem;

  --background: #000103;
  --foreground: #fffffa;

  --primary: #EAE4D5;
  --primary-foreground: #fffffa;

  --secondary: #111827;
  --secondary-foreground: #ffffff;

  --muted: #080E1A;
  --muted-foreground: #fffffa;

  --accent: #FF312E;
  --accent-foreground: #fffffa;

  --destructive: #333138;

  --card: #020617;
  --card-foreground: #ffffff;

  --popover: #020617;
  --popover-foreground: #ffffff;
}

/* Inline theme tokens */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --animate-cell-ripple: cell-ripple var(--duration, 200ms) ease-out none 1 var(--delay, 0ms);

  @keyframes cell-ripple {
    0% {
      opacity: 0.4;
    }

    50% {
      opacity: 0.8;
    }

    100% {
      opacity: 0.4;
    }
  }
}

/* Base layer */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}